{% extends "base.html.twig" %}

{% block titre %}
  {{livre.nom}}
{% endblock %}
{% block contenu %}
  <div class="row m-2">
    <div class="col-6">
      {% if isModification %}
        <form action="/livres/modificationServer" method="POST">
          <h4>Information</h4>
          <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="titre" name="titre" value="{{livre.nom}}">
          </div>
          <div class="form-group">
            <label for="title">Auteur</label>
            <select class="form-control" id="auteur" name="auteur">
              {% for auteur in auteurs %}
                <option value="{{auteur._id}}" 
                {% if auteur.id == livre.auteur.id %}
                  selected
                {% endif %}>
                  {{ auteur.prenom }} - {{ auteur.nom }}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="title">Pages</label>
            <input type="number" class="form-control" id="pages" name="pages" value="{{livre.pages}}">
          </div>
          <h4>Resume : </h4>
          <div class="form-group">
            <label for="title">Description</label>
            <textarea type="text" class="form-control" id="description" name="description" rows="3">{{livre.description}}</textarea>
          </div>
          <input type="hidden" name="identifiant" value="{{livre._id}}">
          <input type="submit" value="valider" class="btn btn-primary">
        </form>
        <form action="/livres/updateImage" method="POST" enctype="multipart/form-data">
          <h2>Image</h2>
          <div class="row">
            <img src="/images/{{livre.image}}" class="col-3">
            <div class="col-9">
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control-file" id="image" name="image">
              </div>
              <input type="hidden" name="identifiant" value="{{livre._id}}">
              <input type="submit" value="Modifier l'image" class="btn btn-primary">
            </div>
          </div>
        </form>
      {% else %}
        <h4>Informations :</h4>
        <div>Auteur : {{livre.auteur.prenom}} - {{livre.auteur.nom}}</div>
        <div> Nombre de pages : {{ livre.pages }}</div>
        <div>Photo : </div>
        <img src="/images/{{livre.image}}" alt="">
      {% endif %}
    </div>
    <div class="col-6">
      {% if isModification %}
      {% else %}
        <h4>Resume : </h4>
        <div>
          {{ livre.description }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}